name: cw jar build
on: [push]
jobs:
    build:
      name: executive jar build
      runs-on: ubuntu-latest
      defaults:
        run:
          working-directory: .
      steps:
        - name: checkout code
          uses: actions/checkout@v3
        - uses: actions/setup-java@v3
          with:
            distribution: 'corretto'
            java-version: '21'          
        - name: maven build
          run: mvn --no-transfer-progress package
        - name: upload JAR
          uses: actions/upload-artifact@v3
          with:
            name: cw.jar
            path: target/cw.jar
            if-no-files-found: error
